---
# Ansible Playbook to Upgreade Cisco IOS

- name: Upgrade CISCO IOS
  hosts: Test

  vars:
    upgrade_ios_version: 16.12.11
  
  tasks:
    - name: CHECK CURRENT VERSION
      ios_facts:

    - debug:
        msg:
        - "Current version is {{ansible_net_version }}"
        - "Upgrade image is 16.12.11"

    - debug:
        msg:
        - "Image is not compliant and will be upgraded"

      when: ansible_net_version != upgrade_ios_version


## Create backup folder for today

- hosts: localhost

  tasks:
    - name: Get ansible date/time facts
      setup:
       filter: "ansible_date_time"
       gather_subset: "!all"

    - name: Store DTG as fact
      set_fact:
       DTG: "{{ ansible_date_time.date }}"

    - name: Create Directory {{hostvars.localhost.DTG}}
      file:
       path: /home/a01800215/ansible/Cisco/Backups/Cisco_backup/{{hostvars.localhost.DTG}}
       state: directory
  run_once: true

## Backup Running Config 

- hosts: Test

  tasks:
   - name: Backup Running Config  
     ios_command:
       commands: show run  
     register: config

   - name: Save output to /home/a01800215/ansible/Cisco/Backups/Cisco_backup/
     copy:
       content: "{{config.stdout[0]}}"
       dest: "/home/a01800215/ansible/Cisco/Backups/Cisco_backup/{{hostvars.localhost.DTG}}/{{ inventory_hostname }}-{{hostvars.localhost.DTG}}-config.txt"

## SAVE the Running Config 

   - name: Save running config 
     ios_config:
       save_when: always 

## Clean up all old boot files 

   - name: Delete unused files from flash storage (with expect)
     expect:
        command: software clean
        responses:
          'Do you want to proceed with the deletion? (yes/no)': 'yes'
        timeout: 60  # Optional, adjust timeout as needed
     register: clean_result
     when: flash_files is defined

## Copy software to target device 

   - name: Copy Image // This could take up to 4 minutes
     net_put: 
       src: "/home/a01800215/ansible/Cisco/images/cat3k_caa-universalk9.16.12.11.SPA.bin"
       dest: "flash:/cat3k_caa-universalk9.16.12.11.SPA.bin"
     vars: 
       ansible_command_timeout: 1200


## Change the Boot Variable to the new image 

   - name: Change Boot Variable to new image 
     ios_config: 
       commands: 
         - "boot system flash:cat3k_caa-universalk9.16.12.11.SPA.bin"
       save_when: always 

## Reload the device 

   - name: Reload the Device 
     cli_command: 
       command: reload
       prompt: 
         - confirm
       answer: 
         - 'y'
         
         
## Wait for Reachability to the device 

   - name: Wait for device to come back online
     wait_for:
       host: "{{ inventory_hostname }}"
       port: 22
       delay: 1200
     delegate_to: localhost

## Check current image 

   - name: Check Image Version      
     ios_facts:

   - debug: 
       msg: 
       - "Current version is {{ ansible_net_version }}"

   - name: ASSERT THAT THE IOS VERSION IS CORRECT
   
     vars: 
       upgrade_ios_version: 16.12.11

     assert:
       that:
         - upgrade_ios_version == ansible_net_version
   - debug: 
       msg: 
       - "Software Upgrade has been completed"



